.main-container {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
}

.first-container {
    width: 205px;
}

.second-container {
    width: 210px;
    display: flex;
    flex-wrap: wrap;
}

.padding {
    flex: 1 1 auto;
    margin: 0 5px 5px 0;
}

.block-green {
    background-color: #5aa155;
    width: 200px;
    height: 200px;
    display: flex;
}

.block-blue {
    background-color: #34b0e6;
    width: 200px;
    height: 100px;
    display: flex;

}

.block-yellow {
    background-color: #feb818;
    width: 100px;
    height: 200px;
    display: flex;


}

.block-brown {
    background-color: #a85b17;
    width: 100px;
    height: 100px;
    display: flex;
}

.block-orange {
    background-color: #fc6530;
    width: 200px;
    height: 200px;
    display: flex;
}

.block-red {
    background-color: #ff3716;
    width: 100px;
    height: 100px;
    display: flex;
}


.block-dark-blue {
    background-color: #3a5cc8;
    width: 100px;
    height: 200px;
    display: flex;
}

.block-pink {
    background-color: #e0146d;
    width: 300px;
    height: 100px;
    display: flex;
}

.block-violet {
    background-color: #a02ea0;
    width: 100px;
    height: 100px;
    display: flex;
}

.block-azure {
    background-color: #238cdd;
    width: 400px;
    height: 100px;
    display: flex;
}
